.lobby-card {
  width: 80%;
  max-width: 550px;

  padding: 20px;
  border-radius: 12px;
  border: 2px solid black;

  display: flex;
  flex-direction: column;
  gap: 12px;

  align-items: center;
  margin-bottom: 20px;
}

.lobby-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  text-align: left;
}

.lobby-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.categories-list {
  max-height: 120px;
  overflow-y: auto;
  padding-left: 16px;
}

.scroll-list {
  max-height: 120px;
  overflow-y: auto;
  padding-left: 16px;
  width: 100%;
}

.lobby-card h2 {
  margin: 0;
}

.lobby-card p {
  margin: 4px 0;
}